.appHeader {
  height: var(--app-header-height);
  @include flex($y: center, $x: center);
  @include positionFixed($top: calc(100% - var(--app-header-height)), $left: 0, $zIndex: 99);
  backdrop-filter: blur(8px);
  padding: 0 16px;
  width: 100%;
  
  @include mediaQuery($min: 768px) {
    @include positionFixed($top: 0, $left: 0);
  }

  &_close {
    @include positionAbsolute($top: 8px, $right: 8px);
  }
  
  &_content {
    @include flex($y: center, $x: space-between, $gap: 16px);
    // max-width: 1400px;
    width: 100%;
  }

  &_title {
    @include textGradient();
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: bold;
  }

  &_left,
  &_right {
    @include flex($y: center, $gap: 16px);
    flex: 1;
  }
  
  &_right {
    justify-content: flex-end
  }

  &_modal {
    top: 0;
    left: 0;
    &Content {
      width: 100vw;
      height: 100vh;
      background-color: var(--color-bg-secondary);
      @include flex($direction: column, $x: center, $y: center, $gap: 32px);
    }
  }
  &_link {
    position: relative;
    font-size: clamp(1.5rem, 5vw, 4rem);
    @include transition;
    opacity: 0.4;
    &__active {
      color: var(--color-primary);
    }
    &:hover {
      color: var(--color-secondary);
    }
    &__active,
    &:hover {
      opacity: 1;
      text-decoration: line-through;
    }
  }
}