.twitchList {
  padding-bottom: var(--app-header-height);
    
  &_content {
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
  }

  &_item {
    @include flex;
    background-color: var(--color-bg-secondary);
    padding: 8px;
    border-radius: 48px;
    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
    }
    &Data {
      padding: 8px 16px;
    }
    &Name {
      @include textTruncate;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 4px;
    }
    &UserName {
      color: var(--color-grey);
      font-size: 0.8rem;
    }
  }

  &_button {
    @include positionFixed($top: calc(100% - (var(--app-header-height) - 12px)), $right: 16px, $zIndex: 99);
    @include mediaQuery($min: 768px) {
      top: 12px;
    }
  }

  &_modal {
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: var(--color-bg);
    padding: 16px;
    padding-top: 32px;
    &Title {
      padding-bottom: 16px;
      text-transform: uppercase;
      color: var(--color-secondary);
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

}