.containerInfiniteScroll {
  width: 100%;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  div {
    display: inline-flex;
    align-items: center;
    font-weight: 100;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}