@import './reset.scss';

:root {
  @each $keyColor, $valueColor in $colors-theme {
    --color-#{$keyColor}: #{$valueColor};
  }
  --app-header-height: 72px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--color-bg);
  &-thumb {
    @include transition;
    background-color: var(--color-secondary);
    border-radius: 8px;
    &:active {
      background-color: var(--color-primary);
    }
  }
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-bg-contrast);
}

.mainWithHeaderPadding {
  padding-bottom: var(--app-header-height);
  @include mediaQuery($min: 768px) {
    padding-top: var(--app-header-height);
    padding-bottom: 0;
  }
}
