.flexSlider {
  position: relative;
  display: flex;
  min-height: 750px;
  min-height: 100vh;
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  min-width: 100%;
  flex-direction: column;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 128px;
    top: 0;
    background: linear-gradient(0deg, transparent, var(--color-bg) 85%);
    z-index: 2;
  }
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 256px;
    background: linear-gradient(180deg, transparent , var(--color-bg) 85%);
    z-index: 2;

  }
  
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
  &_item {
    flex: 1;
    display: flex;
    align-items: stretch;
    cursor: pointer;
    transition: all 0.35s ease;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #191919e6;
    }

    &__active {
      flex: 6;
      min-height: 450px;
      cursor: default;

      &:before {
        background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #222 100%);
      }
    }
    &Name {
      font-weight: bold;
      white-space: nowrap;
      position: absolute;
      z-index: 30;
      opacity: 1;
      top: 50%;
      left: 50%;
      transition: top 0.35s, opacity 0.15s;
      transform-origin: 0 0;
      font-size: 24px;
      text-transform: uppercase;
      transform: translate(-50%, -50%) rotate(0deg);

      @media only screen and (min-width: 768px) {
        top: 95%;
        left: 50%;
        font-size: 32px;
        transform: translate(-20px, -50%) rotate(-90deg);
      }

      &__active {
        opacity: 0;
        top: 200%;
      }
    }
    &SectionContent {
      position: relative;
      z-index: 30;
      opacity: 0;
      align-self: flex-end;
      width: 100%;
      transition: all 0.35s 0.1s ease-out;

      &__active {
        opacity: 1;
      }

      &Inner {
        position: absolute;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        align-items: flex-end;
        left: 0;
        bottom: 0;
        padding: 48px 24px;
        opacity: 0;
        transition: opacity 0.25s;

        @media only screen and (min-width: 768px) {
          grid-auto-flow: column;
          // grid-template-columns: calc(100% - 240px) 200px;
          grid-template-columns: 1fr 100px;
          // grid-column-gap: 40px;
          padding: 80px 40px;
        }

        &__active {
          opacity: 1;
        }

        &Bio {
          display: grid;
          grid-auto-flow: row;
          grid-template-rows: min-content;
          grid-gap: 24px;

          h2 {
            font-size: 36px;
            line-height: 36px;
            font-weight: 700;
            text-transform: uppercase;

            @media only screen and (min-width: 768px) {
              font-size: 48px;
              line-height: 48px;
            }

            @media only screen and (min-width: 1280px) {
              font-size: 64px;
              line-height: 64px;
            }
          }
        }
      }
    }
  }
}
